#grid_wrapper{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: 2fr 8fr 4fr;
    grid-template-areas:
    "hed hed hed hed"
    "as1 ar1 ar2 as2"
    "as1 fot fot as2";

}
header{
    grid-area:hed;
    background-color:green;
}
#aside1{
    grid-area:as1;
    background-color:red;
}
#aside2{
    grid-area:as2;
    background-color:red;
}
#article1{
    grid-area:ar1;
    background-color:blue;
}
#article2{
    grid-area:ar2;
    background-color:blue;
}
footer{
    grid-area:fot;
    background-color:brown;
}